<p><span style="background-color:	#e8e8e8">　会員一覧　</span></p>
<table width=100% frame="void" rules="rows" border="1">
  <tr bgcolor="#e8e8e8">
    <th width=10% >会員ID</th>
    <th width=30% >氏名</th>
    <th width=30% >メールアドレス</th>
    <th width=30% >ステータス</th>
  </tr>
  <% @customers.each do |customer| %>
    <tr>
      <td><%= customer.id %></td>
      <td><%= link_to "#{customer.last_name}#{customer.first_name}",admin_customer_path(customer.id) %></td>
      <td><%= customer.email %></td>
      <td>
        <% if customer.is_active == true %>
          <p class="text-success">有効</p>
        <% else %>
          <p class="text-secondary">退会</p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @customers %>

