顧客ごとの注文履歴一覧
<table>
  <tr>
    <th>購入日時</th>
    <th>注文商品</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </tr>
  <% @orders.each do |order| %>
  <tr>
    <td><%= order.created_at %></td>
    <% order.order_details.each do |order_detail| %>
    <td>
    <%= order_detail.item.name %>
    <% end %>
    </td>
    <% order.order_details.each do |order_detail| %>
    <td><%= order_detail.amount %></td>
    <% end %>
    <td><%= order.status %></td>
  </tr>

  <% end %>
</table>


