管理者トップページ（注文履歴一覧表示）

<h4>注文履歴一覧</h4>
<table>
  <tr>
    <th>購入日時</th>
    <th>購入者</th>
    <th>注文個数</th>
    <th>注文ステータス</th>
  </tr>
  <tr>
    <td>買った日</td>
    <td>山田さん</td>
    <td>４</td>
    <td>入金待ち</td>
  </tr>
  <!--<tr>-->
    <!--% @orders.each do |order| %>-->
    <!--<td>order.created_at </td>-->
    <!--<td>order.customer.name </td>-->
    <!--これで注文者名でる？？-->
    <!--<td>order.amount </td>-->
    <!--<td>order.making_status </td>-->
  <!--</tr>-->
</table>
